@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.wrapper {
  width: 90%;
  align-self: "center";
}

body {
  background-color: #f5f5f5;
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: "Inter", sans-serif;
  display: grid;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
  height: auto;
}


.navBar .logo img {
  float: left;
  max-height: 120px;
}
.is-active {
  color: #684b3c !important;
}

.navBar .col-md-3 {
  z-index: 7;
}
ul.main-menu {
  display: inline-flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  float: right;
  z-index: 7;
}
ul.main-menu > li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item {
  line-height: 23px;
}
li {
  list-style-type: none;
}
.menu-item a {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: block;
  color: #545050;
  margin: 27px 17px;
  text-decoration: none;
  cursor: pointer;
}
.header__middle__logo {
  width: 20%;
  display: inline-block;
  float: left;
}
.header__middle__menus {
  width: 70%;
  display: inline-block;
  float: left;
}
.menu-item.menu__qqqitem a {
  margin: 27px 10px;
}
.header__middle__search {
  width: 7%;
  display: inline-block;
  float: right;
  padding: 36px 3px 27px 3px;
  border-left: 1px solid lavender;
}
.header__middle {
  display: flex;
  width: 100%;
  float: left;
  border-bottom: 1px dashed lavender;
  position: relative;
}
.header__middle__logo > a > h1 {
  color: #07a8ff;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 33px;
}
.active {
  color: #000000 !important;
}
.header__middle__menus span.text {
  position: absolute;
  right: 177px;
  bottom: 10px;
  font-size: 14px;
  color: #ff1800;
}



@media (max-width: 767px) {
  .header__middle .active {
    color: #000000 !important;
  }
}


.menu-item  a {
  padding: 7px 0 0px 0;
  margin: 7px 27px;
}
.menu-item:hover > a {
  color: #000000 !important;
}

.menu-item  li:hover a {
  color: #000000 !important;
}

.header__middle__logo img {
  max-width: 207px;
  margin: 17px 0 0 0;
}

@media (max-width: 991px) {
  .header__middle__logo {
    width: 77%;
  }
  .header__middle__menus {
    width: 20%;
  }
  .header__middle__logo img {
    max-width: 197px;
    margin: 27px 0 0 0;
  }
  .main-nav .menubar__button:hover {
    background-color: #f44336;
  }
  .main-nav .menu-item:hover > a {
    color: #07a8ff !important;
  }
  .main-nav .menubar__button {
    display: block !important;
    float: right;
    background-color: #080808;
    color: #fff;
    padding: 6px 7px;
    border-radius: 5px;
    margin: 27px auto 0;
    cursor: pointer;
    position: relative;
    z-index: 10037;
  }
  .main-nav .menubar__button svg {
    font-size: 27px;
  }
  .main-nav ul.menuq2 {
    display: block !important;
    position: absolute;
    left: 0;
    z-index: 10007;
    background-color: #d8f1ff;
    border-bottom: 3px solid #272322;
    right: 0;
    padding-bottom: 17px;
    padding-top: 57px;
  }
  .main-nav .menu-item a {
    margin: 10px 17px;
    text-align: center;
    color: #000000;
  }
  .main-nav ul.main-menu {
    display: none;
  }

  .main-nav  {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
 
  .menu-item  a {
    text-align: left;
  }
}
.list_heading {
  padding-top: 10px;
  background-color: aqua;
  color: #000000;
}

header {
  background-color: #07a8ff;
  color: #080808;
  float: left;
  margin: auto;
  text-align: center;
  padding: 2px 0;
}

.flex_row {
  float: right;
  display: flex;
  justify-content: space-between;
}

.flex_between {
  display: flex;
  align-items: center;
}
.list_heading {
  text-align: center;
  font-weight: bold;
  background-color: deepskyblue;
  font-size: 30px;
  width: 100%;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 8px 30px;
  background-color: #fff;
  border: 1px solid rgb(8, 8, 8);
  text-align: left;
}

.form-inline > input {
  margin-left: 20px;
}

input {
  width: 400px;
  padding: 12px 20px;
  margin-top: 2px;
  margin-right: 10px;
  margin: 8px 8px;
  box-sizing: border-box;
  border-style: solid;
  transition: border 0.3 linear;
  font: 15px arial;
}

.add_btn {
  background-color: #4caf50;
  border: double;
  color: white;
  padding: 11px 32px;
  text-align: center;
  font-size: 16px;
  position: relative;
  margin-top: 5px;
  margin-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.add_btn:hover {
  background-color: #228f25;
}

.remove_btn {
  background-color: rgb(241, 19, 19);
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 29.7px;
  font-size: 16px;
  cursor: pointer;
}
.remove_btn:hover {
  background-color: rgb(190, 0, 0);
}
.update_btn1 {
  background-color: rgb(6, 165, 228);
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 14.6px;
  font-size: 16px;
  cursor: pointer;
}
.update_btn1:hover {
  background-color: rgb(4, 123, 170);
}

 .update_btn2 {
  background-color: rgb(6, 165, 228);
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 23.2px;
  font-size: 16px;
  cursor: pointer;
} 
.update_btn2:hover {
  background-color: rgb(4, 123, 170);
}
#button {
  float: right;
}

.footer {
  background-color: #080808;
  color: white;
  padding: 20px;
}


  /* table {
    counter-reset: rowNumber;
  }

  table tr > td:first-child {
    counter-increment: rowNumber;
  }

  table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  } */
td {
  border-bottom: 5px solid whitesmoke;
  text-align: left;
  padding: 8px;
  color: #000000;
}

th {
  padding: 10px;
}
