
.container-sm{
  width: 100%;
  margin: auto;
  padding: 0px 0;
}

.wrapper {
  width: 90%;
  align-self: "center";
}
body {
  background-color: whitesmoke;
  color: black;
  /* padding: 40px; */
  font-family: Arial;
  text-align: center;
}

.header {
  align-items: center;
  padding: 2px 0;
  background-color: #20d4ec;
  /* update css */
  width: 100%;
  margin: auto;
  padding: 0px 0;
}

.header_logo {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  object-fit: contain;
  /* update css */
  width: 100%;
  margin: auto;
  padding: 0px 0;
}

.flex_row {
  display: flex;
  justify-content: flex-end;
}

.flex_between {
  display: flex;
  align-items: center;
  /* justify-content:space-around; */

}
.list_heading {
  font-weight: bold;
  background-color: deepskyblue;
  margin-top: 10px;
  padding: 15px;
  font-size: 30px;
  width: 100%;
}


.student_list {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-family: sans-serif;
  text-align: left;
}

.student_text {
  color: black;
  font-size: 20px;
  text-align: left;
  font-family: sans-serif;

}

.student_text_done {
  color: black(0, 0, 0, 0.3);
  font-size: 20px;
  text-align: left;
  font-family: sans-serif;
  
}

.new_student_wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
}

.new_student_wrapper > input {
  margin-right: 20px;
}



input{
  width: 100%;
  padding: 12px 20px;
  margin-top: 2px;
  margin: 8px 8px;
  box-sizing: border-box;
  border-style: solid;
  transition: border 0.3 linear;
  font: 15px arial;
  
}

.add_btn {
  background-color: #4caf50; /* Green */
  border: double;
  color: white;
  padding: 11px 32px;
  text-align: center;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.refresh_btn {
  background-color: dodgerblue;
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}


.remove_btn {
  background-color: rgb(241, 19, 19);
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
.update_btn1 {
  background-color: greenyellow;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  
}
.update_btn2 {
  background-color: greenyellow;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
