.container {
  width: 100%;
  margin: auto;
  padding: 0px 0;
}

.wrapper {
  width: 90%;
  align-self: "center";
}
body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial;

}

.header {
  padding: 2px 0;
  background-color: #20d4ec;
  width: 100%;
  margin: auto;
  text-align: center;
}

.header_logo {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100%;
  margin: auto;
  padding: 0px 0;
}

.flex_row {
  float: right;
  display: flex;
  justify-content: space-between;
}

.flex_between {
  display: flex;
  align-items: center;
} 


.list_heading {
  text-align: center;
  font-weight: bold;
  background-color: deepskyblue;
  margin-top: 10px;
  padding: 15px;
  font-size: 30px;
  width: 100%;
}

.form-inline {  
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}


.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgb(8, 8, 8);
}

.form-inline > input {
  margin-left : 40px;
  
}
/* .form-inline button {
  background-color: #4caf50;
  padding: 10px 20px;
  border: double;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: #228f25;
  
} */
@media (max-width: 800px) {
  /* .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: row;
    
  }; */
  .add_btn {
    background-color: #4caf50; 
    border: double;
    color: white;
    padding: 11px 32px;
    text-align: center;
    font-size: 16px;
    position: relative ;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;}
} 
input {
  width: 400px;
  padding: 12px 20px;
  margin-top: 2px;
  margin-right:10px ;
  margin: 8px 8px;
  box-sizing: border-box;
  border-style: solid;
  transition: border 0.3 linear;
  font: 15px arial;
}

.add_btn {
    background-color: #4caf50; 
    border: double;
    color: white;
    padding: 11px 32px;
    text-align: center;
    font-size: 16px;
    position: relative ;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}
.add_btn:hover{
  background-color: #228f25;
}

.remove_btn {
  background-color: rgb(241, 19, 19);
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 29.7px;
  font-size: 16px;
  cursor: pointer;

}

.update_btn1 {
  background-color: rgb(6, 165, 228);
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;

}

.update_btn2 {
  background-color: rgb(6, 165, 228);
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 24.3px;
  font-size: 16px;
  cursor: pointer;
}

#button{
  float: right;
}
table {
  border-collapse:separate;
  width: 100%;
  margin-left: 0px;
}
td{
  /* border-bottom: 1px solid black; */
  border-bottom: 5px solid whitesmoke;
  text-align: left; 
  padding: 8px;
} 

/* tr:nth-child(even) {
  background-color: rgb(245, 243, 233);
} 
tr:nth-child(odd){
  background-color: rgb(158, 158, 158);
} */
/*
 .panel-body:nth-child(odd) {
  background: red;
}*/
